=map
  content: '\f041'
  font-family: 'FontAwesome'

=clock
  content: '\f017'
  font-family: 'FontAwesome'

=fixed-width-icon
  width: 1.3em
  text-align: center
  padding-right: $little-space

[data-controller=events]
  .address:before
    +map
    +fixed-width-icon

  time:before
    +clock
    +fixed-width-icon

    // calendar: "\f073"
