#what_we_do
/*       text-transform: uppercase */
/*       font-size: 300% */
/*       letter-spacing: 1px */
/*       padding: $padding/4 */
/*       overflow: hidden */
/*       text-align: center */
/*       font-weight: 400 */



[data-controller=pages]
  &[data-action=home]
    background-color: $background-color

    header
      position: fixed
      width: 100%
      background-color: $background-color
      z-index: 1

    main
      width: 100%
      padding-top: 5em

    section
      width: 95%
      margin: 0 auto
      padding-top: 5em
      @include above($small-screen)
        padding-top: 7em

    #home
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('//uploads.strikinglycdn.com/static/backgrounds/business-2/144.jpg')
      background-size: cover
      align-items: center
      display: flex
      flex-direction: column
      justify-content: center
      height: 100vh
      h1, h2
        color: $background-color
        z-index: 10
      h1
        text-transform: uppercase
        letter-spacing: 3px
        font-family: $logo
        @include above($small-screen)
          font-size: 3em
      h1:before, h1:after
        background-color: transparent
      h2
        @include above($small-screen)
          @include surrounding-lines($background-color)






/*  */
/*     header */
/*       background-color: $background-color */
/*       opacity: 0.85 */
/*  */
/*     main */
/*       display: flex */
/*       flex-direction: column */
/*       justify-content: center */
/*       color: $background-color */
/*  */
/*     h1 */
/*       text-transform: uppercase */
/*       font-size: 300% */
/*       letter-spacing: 1px */
/*       padding: $padding/4 */
/*       overflow: hidden */
/*       text-align: center */
/*       font-weight: 400 */
/*  */
/*     h2 */
/*       font-style: italic */
/*       font-weight: 300 */
/*       overflow: hidden */
/*       text-align: center */
/*       padding: $padding/4 */
/*       letter-spacing: 1px */
/*  */
/*     h2:before, */
/*     h2:after */
/*       background-color: $background-color */
/*       content: "" */
/*       display: inline-block */
/*       height: 1px */
/*       position: relative */
/*       vertical-align: middle */
/*       width: 50% */
/*  */
/*     h2:before */
/*       right: 0.5em */
/*       margin-left: -50% */
/*  */
/*     h2:after */
/*       left: 0.5em */
/*       margin-right: -50% */
/*  */
/*     .tagline */
/*       font-family: $tagline */
