---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"valid@email.com"}]'
    headers:
      Authorization:
      - Bearer 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
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Limit:
      - '3'
      X-Ratelimit-Reset:
      - '1470775190'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"error_count":0,"error_indices":[],"new_count":0,"persisted_recipients":["dmFsaWRAZW1haWwuY29t"],"unmodified_indices":[0],"updated_count":0}'
  recorded_at: Tue, 09 Aug 2016 20:39:48 GMT
[...]
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"valid@email.com"}]'
    headers:
      Authorization:
      - Bearer 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
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Limit:
      - '3'
      X-Ratelimit-Reset:
      - '1470775190'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"error_count":0,"error_indices":[],"new_count":0,"persisted_recipients":["dmFsaWRAZW1haWwuY29t"],"unmodified_indices":[0],"updated_count":0}'
  recorded_at: Tue, 09 Aug 2016 20:39:50 GMT
recorded_with: VCR 3.0.3
