$base-spacing: 1.5em;
$base-border-radius: 1px;
$base-line-height: 1.5em;
$base-border-radius: 5px;
$base-font-size: 1.1em;
$small: 0.85em;
$padding: 1.5em;
$large-space: 1.5em;
$med-space: 1em;
$little-space: 0.5em;

//COLORS
$gray: #333333;
$lightest-gray: lighten($gray, 73%);
$lighter-gray: lighten($gray, 60%);
$light-gray: lighten($gray, 50%);
$background-color: #fdfdfd;

$base-font-color: $gray;

$main-color: #00c1b4;
$buttons: $main-color;
$action-color: #93d031;
$error-color: #ff6912;

// FLASHES
$flashes: (
  'alert': #ffe8c5,
  'error': #fbe3e4,
  'notice': #84f0e3,
  'success': #e6efc2,
);

// // BUTTONS
// $buttons: (
//   'bright': green,
// );

// FONTS
$headers: 'Muli', Helvetica Neue, Helvetica, sans-serif;
$serif: 'Merriweather', cursive;
$logo: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
$text: 'Karla', Helvetica Neue, Helvetica, sans-serif;
$base-font-size: 1.1em;

// MEDIA QUERIES
$small-screen: 42em;
$medium-screen: 68em;

// TRANSITIONS
$base-duration: 75ms;
$long-duration: 3 * $base-duration;
$base-timing: ease;
