.connect
  a target='blank' href='https://www.facebook.com/pitonneux/' class='facebook'
  a target='blank' href='https://twitter.com/pitonneux'       class='twitter'
  a target='blank' href='https://www.meetup.com/pitonneux/'   class='meetup'
