header
  padding: 2em
  color: $gray
  background-color: $background-color
  @include above($small-screen)
    text-align: center

  // MOBILE FIRST
  .toggle
    float: right
    @include above($small-screen)
      display: none

  // NAV MENU
  ul
    display: none
    @include above($small-screen)
      display: block

  // NAV ITEMS
  li
    text-align: right
    list-style: none
    text-transform: uppercase
    a
      color: $gray
    @include above($small-screen)
      display: inline
      padding: 0 1em

  // LOGO
  .mobile-logo
    @include above($small-screen)
      display: none

  .logo
    display: none
    .fa-clock-o
      color: $action-color
    @include above($small-screen)
      display: inline

